@using Authfix.Blazor.Extensions.Oidc;
@page "/callback"

<h1>Counter</h1>

@functions {


    protected async override Task OnAfterRenderAsync()
    {
        Console.WriteLine("Initiaze UserManager");

        var config = new IdentityConfiguration
        {
            Authority = "http://localhost:50000",
            ClientId = "js",
            PostLogoutRedirectUri = "http://localhost:50001/index.html",
            RedirectUri = "http://localhost:50001/callback",
            ResponseType = "id_token token",
            Scope = "openid profile api1"
        };

        var manager = new UserManager(config);
        var user = await manager.SignInRedirectCallback();
    }
}
