@using Authfix.Blazor.Extensions.Oidc;
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@functions{

    protected async override Task OnInitAsync()
    {
        Console.WriteLine("Initiaze UserManager");

        var config = new IdentityConfiguration
        {
            Authority = "http://localhost:50000",
            ClientId = "js",
            PostLogoutRedirectUri = "http://localhost:50001/index.html",
            RedirectUri = "http://localhost:50001/callback",
            ResponseType = "id_token token",
            Scope = "openid profile api1"
        };

        var manager = new UserManager(config);
        var user = await manager.GetUser();

        if(user == null)
        {
            Console.WriteLine("User not connected");
            await manager.SignInRedirect();

        }
        else
        {
            Console.WriteLine(user);

        }
    }

}
